    <label for="{{{name}}}">{{{label}}}:{{#if required}}<span class="form-label-required">*</span>{{/if}}</label>
    <input type="tel" class="form-control" name="{{{name}}}" id="{{{name}}}"{{#if value}} value="{{{value}}}"{{/if}} />
