   <label for="{{{name}}}">{{{label}}}:{{#if required}}<span class="form-label-required">*</span>{{/if}}</label>
   <textarea name="{{{name}}}" id="{{{name}}}" class="form-control"{{#if required}} required{{/if}}>{{{value}}}</textarea>